<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/owl/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/main.css" />

    <title>Flash zinco</title>
  </head>
  <body>
    <!--HEADER-->
    <%- include('include/header.ejs') %>
    <!--//HEADER-->

    <!--SLIDER-->
    <div id="slider" class="block">
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-4 col-md-6 align-self-center mb-md-0 mb-4">
            <h1>Em caso de alguma dúvida</h1>
            <h4 class="mb-4">entre em contato com os técnicos</h4>
            <a
              href="#"
              class="button btn btn-outline-primary button-primary-outline d-md-inline-block d-block"
              >Contato</a
            >
          </div>
          <div class="col-lg-8 col-md-6 align-self-center text-center">
            <img src="/assets/slider.svg" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
    <!--//SLIDER--> 

    <!--NOSSOS SERVIÇOS-->
    <div id="servicos" class="block">
      <div class="container">
        <h2 class="title text-center"></h2>
        <h4 class="subtitle text-center mb-4">
          
        </h4>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <a href="/clients" class="destaque">
              <div class="img-container mb-3">
                <img src="assets/clientes.png" class="img-fluid" />
              </div>
              <h5 class="text-uppercase">Clientes</h5>
              <p class="mb-0">
                Tenha acesso a todos os clientes
              </p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <a href="#" class="destaque">
              <div class="img-container mb-3">
                <img src="assets/certificado.png" class="img-fluid" />
              </div>
              <h5 class="text-uppercase">Certificados</h5>
              <p class="mb-0">
                tenha acesso a todos os Certificados emitidos
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--//NOSSOS SERVIÇOS-->

    
    
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/magnify/jquery.magnific-popup.min.js"></script>
    <script src="js/main.js"></script>
    <!--//JS-->
  </body>
</html>
